

/* footer  */
.footer {
  height: 25rem;
  width: 100vw;
}
.footer-Wrape {
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
}

.footer-Wrape h2 {
  font-size: 2.25rem;
  color: #fff;
  font-weight: 700;
  /* border: 2px solid black; */
  font-family: "Poppins", sans-serif;
}
.footer-Wrape h4 {
  margin: 2rem auto 1.7rem;
  font-size: 14px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}
.footer-Wrape .icon {
  display: flex;
  justify-content: center;
}

.footer-Wrape .icon img {
  height: 17.1px;
  width: 18px;
  position: relative;
  z-index: 4;
  /* border: 2px solid black; */
}

.footer-Wrape .icon picture::after {
  position: relative;
  content: '';
  top: -14px;
  left: -15px;
  z-index: 3;
  padding: 0.12rem 1rem 0.5rem;
  margin: 0 0.3rem;
  border-radius: 50%;
  background-color: #8fc04e;
  cursor: pointer;
} 
.footer-Wrape .icon picture:hover::after{
  background-color: rgb(208, 208, 208);
}
.copyright {
  height: 7rem;
  border-top: 2px solid rgb(122, 122, 122);
  width: 80%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}
.copyright h3 {
  font-size: 14px;
  color: #fff;
}
.copyright h3 span {
  font-weight: 700;
}
.copyright h5 {
  font-size: 13px;
  color: #fff;
}
.copyright h5 span {
  font-size: 13px;
  color: #8fc04e;
}
@media screen and (max-width: 702px) {
  .copyright {
    height: 4rem;
    border-top: 2px solid rgb(122, 122, 122);
    width: 95%;
    
  }
  .copyright h3 {
    font-size: 10px;
  }
  .copyright h5 {
    font-size: 10px;
  }
}
